.small img {
  width: 4em;
}

.medium img {
  width: 5em;
}

.large img {
  width: 7em;
}

.footer {
  clear: both;
  background-color: rgb(195, 34, 120);
  margin-bottom: 20px;
}
.small {
  float: left;
  padding: 20px;
  background-color: rgb(107, 56, 155);
}
.large {
  float: left;
  padding: 20px;
  background-color: rgb(39, 134, 39);
}
.medium {
  float: left;
  padding: 20px;
  background-color: #777;
}
body {
  font-family: sans-serif;
  background-color: #1098ad;
}
/* .specials {
  display: flex;
} */
@media (max-width: 600px) {
  .specials {
    display: flex;
    flex-direction: column;
  }
  .cart {
    width: 40%;
  }
  body {
    font-size: 1em;
  }
}
